.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.hero-greeting {
  font-size: 24px;
  font-weight: bold;
}
.hero-name {
  color: #00A3FF;
}
.hero-description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}
.hero-photo {
  border-radius: 20%;
  width: 150px;
  height: 150px;
  background-image: url('https://github.com/eams1798.png');
  background-size: cover;
}
