.portfolio-sec {
  padding: 2rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .portfolio-menu {
  position: fixed !important;
  z-index: 1000;
  width: auto;
} */

/* .portfolio-menu.hero {
  display: flex;
  bottom: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio-menu.skills {
  right: 0;
  bottom: 0;
}

.portfolio-menu.projects {
  left: 0;
  bottom: 0;
}

.portfolio-menu.contact {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
} */