a#current-project-title {
  display: block !important;
  width: fit-content !important;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.projects-description {
  width: 60%;
}

.projects-description h2 {
  color: #00A3FF;
}

.projects-list {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.other-projects img {
  width: 120px;
  height: 80px;
}

.current-project, .other-project {
  border-radius: 10px;
  margin: 10px;
}

.other-project:hover {
  border: 5px solid #00A3FF;
}