/* .skills-container {
  width: 100%;
} */

.skill-description {
  width: auto;
}

@media screen and (max-width: 992px) {
  .skill-description {
    width: 75% !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .skill-description p {
    text-align: center;
  }
}

.skill-description h2 {
  color: #00A3FF;
}

/* .skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
} */
