.skill-description {
  width: auto;
}

@media screen and (max-width: 992px) {
  .skill-description {
    width: 75% !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .skill-description p {
    text-align: center;
  }
}

#skill-title {
  display: block;
  width: fit-content;
}

#skill-title h2 {
  color: #00A3FF;
}
